<h1>About me</h1>
<p>I love my job. You know that feeling when you create something completely new, something that you can call 'yours'. I like creating. Every project brings me to know about new technologies, patterns, gems, websites etc. So every new project is the result of the conclusions made from the previous ones. <br>So it should be. <strong>So it is</strong>. <br>Every project can be discussed in details. You can draw an approximate look of your pages, describe the functions you need, set a deadline of the project. Everything is possible, <strong>just ask</strong>.  </p>
