<h1>Want to cooperate? Let me know.</h1></br>
<div class="row">
	<div class="col-md-6">
		<h3>Adress</h3>
		<p> Metalistiv St, 7, Kyiv, Ukraine </p>
		<h3>Mobile phone</h3>
		<p><%= number_to_phone "+380675106131"%></p>
		<h3>Telegram</h3>
		<p><%= link_to "Click to start a chat", "https://t.me/knyttneve"%></p>
		<h3>Mail</h3>
		<p><a href = "mailto:98neverm1nd@gmail.com?subject=Job offer" "email me">Click to write me</a></p>
	</div>
	<div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.5873809219393!2d30.447873750798355!3d50.448785895265885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc268bb024db%3A0x84272f3f6c2af72c!2sMetalistiv+St%2C+7%2C+Kyiv%2C+02000!5e0!3m2!1sen!2sua!4v1534186977711" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>