<main role="main" class="inner cover">
  <h1 class="cover-heading">Do not touch, just watch.</h1>
    <p class="lead">It's me. It's all what I've ever worked on. This is my place. It is mine. Mine.</p>
    <p class="lead">
    <%= link_to "About me", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
</main>
    